{% extends 'blog/base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="alert alert-light">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe }}</p>
        <div class="news-user-data">
        <img src="{{ post.author.profile.img.url }}" alt="{{ post.author.username }}">
            <div>
                <span class="text-muted">Publication: {{ post.date|date:"j F Y, time: H:i:s" }} </span>
                <p>Author: <mark>{{ post.author }}</mark></p>
            </div>
        </div>
        {% if user == object.author %}
        <hr>
        <a href="{% url 'news-update' object.id %}" class="btn btn-outline-success">Update post</a>
        <a href="{% url 'news-delete' object.id %}" class="btn btn-outline-danger">Delete post</a>
        {% endif %}

    </div>

{% endblock %}
{% block aside %}
<h4 class="mt-2">Interesting posts</h4>
<img src="https://itproger.com/img/news/x1775040983.jpg.pagespeed.ic.ErtpQGUMpy.jpg" class="img-thumbnail">
<p>Розробники дуже часто змінюють свою роботу, особливо, в порівнянні з іншими професіями. Але чому саме програмісти змінюють роботу найчастіше?</p>

<a href="https://itproger.com/ua/news/pochemu-programmisti-tak-chasto-menyayut-rabotu">
    <button class="btn btn-warning">View</button>
</a>
<img src="https://itproger.com/img/news/x1775674516.jpg.pagespeed.ic.djaNpPFIOu.jpg" class="img-thumbnail" class="mt-5">
<p>Багато хто вважає, що без власних проектів потрапити до ІТ неможливо. Але чи це так насправді, чи це просто черговий міф індустрії?</p>
<a href="https://itproger.com/ua/news/mozhno-li-stat-razrabotchikom-bez-pet-proektov">
    <button class="btn btn-warning">View</button>
</a>
{% endblock %}