
{% extends 'blog/base.html' %}
{% block title %}
Authorization page
{% endblock %}

{% block content %}
<h1>Authorization page
</h1>
<form method="POST" class="form-register auth">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Log in</button>
    <hr>
    <p>Already registered <a href="{% url 'register'%}">Register in personal account</a>
       Forgot your password? <a href="{% url 'pass-reset'%}">Reset password</a></p>
</form>
{% endblock %}

{% block aside %}
<h4 class="mt-2">Interesting posts</h4>
<img src="https://itproger.com/img/news/x1775040983.jpg.pagespeed.ic.ErtpQGUMpy.jpg" class="img-thumbnail">
<p>Розробники дуже часто змінюють свою роботу, особливо, в порівнянні з іншими професіями. Але чому саме програмісти змінюють роботу найчастіше?</p>

<a href="https://itproger.com/ua/news/pochemu-programmisti-tak-chasto-menyayut-rabotu">
    <button class="btn btn-warning">View</button>
</a>
<img src="https://itproger.com/img/news/x1775674516.jpg.pagespeed.ic.djaNpPFIOu.jpg" class="img-thumbnail" class="mt-5">
<p>Багато хто вважає, що без власних проектів потрапити до ІТ неможливо. Але чи це так насправді, чи це просто черговий міф індустрії?</p>
<a href="https://itproger.com/ua/news/mozhno-li-stat-razrabotchikom-bez-pet-proektov">
    <button class="btn btn-warning">View</button>
</a>
{% endblock %}